<!DOCTYPE HTML>
<html>
<head>
    <title>방명록</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>방명록</h1>
    <div style="margin:0 auto;">
        <form>
            <div class="form-group">
                <label for="title">제목</label>
                <input type="text" class="form-control" id="title" placeholder="제목을 입력하세요">
            </div>
            <div class="form-group">
                <label for="author">내용</label>
                <input type="text" class="form-control" id="content" placeholder="내용을 입력하세요">
            </div>
            <button type="submit" id="save" class="btn btn-outline-secondary">작성</button>
        </form>
        <br><br>
        <!--플래그 함수-->
        <script>

        </script>

        <table class="table table-bordered">
            <thead>
            <tr>
                <th>제목</th>
                <th>내용</th>
                <th></th>
            </tr>
            </thead>
            <tbody id="tbody">
            {{#each article}}
                <tr>
                    <td id="t">{{title}}</td>
                    <td id="c">{{content}}</td>
                    <td>
                        <button id="update" name="{{id}}" data-toggle="modal" data-target="#modal" class="btn btn-sm btn-outline-secondary">수정
                        </button>
                        <button id="delete" name="{{id}}" class="delete btn btn-sm btn-outline-secondary">삭제
                        </button>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>




    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="savePostsLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="savePostsLabel">수정 폼</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="title">제목</label>
                            <input type="text" class="form-control" id="title2" placeholder="제목을 입력하세요">
                        </div>
                        <div class="form-group">
                            <label for="content"> 내용 </label>
                            <textarea class="form-control" id="content2" placeholder="내용을 입력하세요"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                    <button type="button" class="update btn btn-primary" id="update2">등록</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>